@media screen and (max-width: 1125px) and (min-width: 980.99px) {
    .desc-img-container {
        font-size: 18px;
    }

    .desc-container{
        font-size: 18px !important ;
    }

    .hi_image{
        width:45px;
        height:45px
    }

}



@media screen and (max-width: 980px) and (min-width: 766px) {
 

   .my-name-desc{
    font-size: 35px !important;
   }
    .desc-container{
        font-size: 18px !important ;
    }

   .hi_image{
        width:35px;
        height:35px
    }

}

@media screen and (max-width: 766px) {
    .img-container-seatedImage{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .my-name-desc{
    font-size: 28px !important;
   }
    .desc-container{
        font-size: 16px !important ;
    }

     .hi_image{
        width:30px;
        height:30px
    }

}



@media screen and (max-width: 1147px) and (min-width: 766px) {

   .what-fronend-development
   {
    grid-template-columns: repeat(1,1fr);
   }
}


@media screen and (max-width:968px) {
    .github-calender{
        width: 100%;
    }    
}

.my-name-top-margin{
    margin-top: -13px;
}